main {
    width: 60%;
    margin: auto;
    margin: -120px auto 3em auto;
    text-align: justify;
    text-indent: 1em;
}

main p {
    margin-top: 1em;
}
main h1 {
    position: relative;
    margin-top: 1em;
    color: #f5f5f5;
    font-size: 3em;
}